<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Planos Casa Fitness
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Planos Casa Fitness</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
      <h2>Planos Mensais - Treino Individual</h2>
  </ion-item>
  <ion-item>
      <p>Tenha acesso ao nosso espaço e aulas presenciais com nosso prof. Erick 3x por semana</p>
  </ion-item>



  <ion-card>
    <ion-card-header>
      <ion-card-title>1 Treino</ion-card-title>
    </ion-card-header>
    <ion-card-content>    
      <ion-grid>
        <ion-row>
          <ion-col><h2>R$140</h2></ion-col>
          <ion-col><ion-button class="ion-float-right">Assinar</ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>2 Treino</ion-card-title>
    </ion-card-header>
    <ion-card-content>    
      <ion-grid>
        <ion-row>
          <ion-col><h2>R$280</h2></ion-col>
          <ion-col><ion-button class="ion-float-right">Assinar</ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>3 Treino</ion-card-title>
    </ion-card-header>
    <ion-card-content>    
      <ion-grid>
        <ion-row>
          <ion-col><h2>R$420</h2></ion-col>
          <ion-col><ion-button class="ion-float-right">Assinar</ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>



  <ion-item>
    <ion-label>
      <h2>Pacotes Digitais</h2>
      <p>Conteúdo orginal pensado para você por nosso prof. Erick Huber, tenha acesso ao nosso material digital</p>
    </ion-label>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Perca 5cm de barriga em 21 dias</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col><h2>R$40</h2></ion-col>
          <ion-col><ion-button class="ion-float-right">Comprar</ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
