ion-card-header {
    background-color: #99FE00;
    color: #030262;
    font-weight: 600;
}
ion-card-content {
    background-color: #90C6DE;
    color: #030262;
    font-weight: 600;
}
main, .inner-scroll {
    background-color:#1E91BD;
}
